<div class="mod mod-about">
	<div class="inner">
		<div class="hd">
			<h4>About</h4>
		</div>
		<div class="bd">
			<p>
			Hello, I'm Yuya Saito and I'm a front end developer / web designer in Tokyo, Japan.<br>
			Seven is my handpicked links of front-end dev related stuff. I will pick up articles, feeds, books and etc.<br>
			I will try my best to pick up the most relavant information. Each entry will be updated even after it's published so relavancy will keep up to date.<br>
			I really thank everyone who actually create stuffs I link to.
			</p>
		</div>
	</div><!-- inner -->
</div><!-- mod -->