<div class="mod mod-elsewhere">
	<div class="inner">
		<div class="hd">
			<h4>Elsewhere</h4>
		</div>
		<div class="bd">
			<ul class="list-square">
				<li><a href="http://css.studiomohawk.com/" rel="me" title="CSS Radar">CSS Radar</a> / フロントエンダのためのミニブック</li>
				<li><a href="http://twitter.com/cssradar" rel="me" title="cssradar@twitter">cssradar@twitter</a> / 1日5件以内でフロントエンド関連情報をつぶやきます</li>
				<li><a href="http://enja.studiomohawk.com/" rel="me" title="en.ja">en.ja</a> / フロントエンダのための翻訳記事</li>
				<li><a href="http://pinboard.in/u:studiomohawk" rel="me" title="Pinboard">Pinboard</a> / カオスにならないようきちんと管理</li>
				<li><a href="http://500px.com/studiomohawk/photos" rel="me" title="500px">500px</a> / 趣味は写真。Nikon D90ユーザ</li>
			</ul>
		</div>
	</div><!-- inner -->
</div><!-- mod -->
