<div class="mod mod-elsewhere">
	<div class="inner">
		<div class="hd">
			<h4>Elsewhere</h4>
		</div>
		<div class="bd">
			<ul class="list-square">
				<li><a href="http://css.studiomohawk.com/" rel="me" title="CSS Radar">CSS Radar</a> / Little books on front-enders</li>
				<li><a href="http://twitter.com/#!/cssradar" rel="me" title="cssradar@twitter">cssradar@twitter</a> / Tweeting front-end stuff with links</li>
				<li><a href="http://newsletter.studiomohawk.com/" rel="me" title="Newsletter">CSS Radar Newsletter</a> / Front-end dev news letter.</li>
				<li><a href="http://enja.studiomohawk.com/" rel="me" title="en.ja">en.ja</a> / Translated articles forfront-ender</li>
				<li><a href="https://github.com/studiomohawk" rel="me" title="github">github</a>/ You can always fork my projects</li>
				<li><a href="http://pinboard.in/u:studiomohawk" rel="me" title="Pinboard">Pinboard</a> / Keeping my finding as neat as possible</li>
				<li><a href="http://500px.com/studiomohawk/photos" rel="me" title="500px">500px</a> / Photography is my hobby</li>
			</ul>
		</div>
	</div><!-- inner -->
</div><!-- mod -->