<div class="unit navigation">
	<div class="unit-inner">
		<div class="mod">
			<div class="inner">
				<div class="bd">
					<input class="search gamma" placeholder="Search within {{ site.posts | size }} lists...">
					<ul id="js-filter" class="filter list-filter list-linear">
						<li class="list-hd">Or Choose: </li>
						<li id="filter-none" class="control on" data-filter="none">all</li>
						<li id="filter-frontend" class="control" data-filter="frontend">frontend</li>
						<li id="filter-js" class="control" data-filter="javascript">javascript</li>
						<li id="filter-css" class="control" data-filter="css">css</li>
						<li id="filter-perf" class="control" data-filter="performance">performance</li>
						<li id="filter-mobile" class="control" data-filter="mobile">mobile</li>
						<li id="filter-ux" class="control" data-filter="ux">ux</li>
						<li id="filter-design" class="control" data-filter="design">design</li>
					</ul>
				</div>
			</div><!-- inner -->
		</div><!-- mod -->
	</div><!-- unit-inner -->
</div><!-- unit -->
